
body{
	margin: 0 auto !important;
	float: none !important;
}

body, header {
	max-width: 150ex;
}

#content {
	margin: 5em;
	margin-top: 2em;
	display: block;
}


#banner {
	display: block;
	max-height: 20ex;
	text-align: center;
}


.placeholder {
	visibility:  hidden;
}

footer {
  background: #e5eaee;
  padding: 20px; 
  text-align: center;
}


