
body{
	margin: 0 auto !important;
	float: none !important;
}

@media screen and (min-width:600px) {
	.main-column {
		max-width: 150ex;
		margin: 0 auto;
	}
}

#content {
	margin: 5em;
	margin-top: 2em;
	display: block;
}


#banner {
	display: block;
	max-height: 20ex;
	text-align: center;
}


.placeholder {
	visibility:  hidden;
}

footer {
  background-color: #00448b;
  color: white;
  padding: 20px; 
  text-align: center;
}

@media screen and (max-width: 40em) {
	#content {
		margin: 2em;
	}
}

@media screen and (max-width: 15em) {
	#content {
		margin: 1em;
	}
}



