{{ "<!-- Header section -->" | safeHTML }}

{{ partial "banner-pre.html" . }}

<!--<a href="{{ "" | absURL }}" class="logo"><img class="vcenter" src="{{ "images/logo.png" | absURL }}"/></a>-->

<a id="menu-closed" class="menu-button button" href="#menu-closed">{{ i18n "menu" }}</label></a>
<a id="menu-open" class="menu-button button" href="#menu-open">{{ i18n "menu" }}</label></a>

<div class="menu-container">
<div class="menu">
	{{ $currentPage := . }}
	{{ range .Site.Menus.main }}
	<a class="menu-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ if .Page.Params.start | default false }} {{ "." | relURL }} {{ else }} {{.URL}} {{end}}" title="{{ .Title }}">{{ .Name }}</a>
	{{ end }}
	<!--{{ if eq 0 (len .Sections) }}
		NONE
	{{ else }}
		{{ with .Sections }}
			{{ range . }}
			{{ $s := .RelPermalink }}
			{{ $s := $s | replaceRE ".*/([^/]*)/" "$1" }}
			<li><a href="#{{ $s }}">{{ .Title }}</a></li>
			{{ end }}
		{{ end }}
	{{ end }}-->
</div>
</div>

{{ $breadcrumb := .Site.Params.breadcrumb | default true }}
{{ if $breadcrumb }}
<div  class="breadcrumb main-column">
	{{ partial "breadcrumb" . }}<br/>
</div>
{{ end }}


